<!-- vote card -->
<div class="content">
  <div
    class="card-row"
    style="align-items: top; justify-content: center; margin: 80px 0 16px"
  >
    <!-- room tool -->
    <div class="card card-shadow room-tools">
      <h3 style="text-align: center">Room tools</h3>
      <button class="button-primary" style="height: 36px" (click)="leaveRoom()">
        Leave room
      </button>
    </div>

    <!-- host tools  -->
    <div class="card card-shadow host-tools">
      <h3>Host tools</h3>
      <div class="card-row">
        <h3>Host:</h3>
        <h3>{{ hostName }}</h3>
      </div>
      <div class="card-row">
        <h3>Room:</h3>
        <h3>{{ roomName }}</h3>
      </div>
      <div class="card-row">
        <button
          class="button-primary"
          [disabled]="!amHost || isVoteCalled"
          (click)="callVote()"
        >
          Call vote
        </button>
        <button
          class="button-primary"
          [disabled]="!amHost || !isVoteCalled"
          (click)="resetVote()"
        >
          Open vote
        </button>
      </div>
    </div>

    <!-- end tool cards -->
  </div>

  <div class="vote-page">
    <!-- user card  -->
    <div class="vote-card-row">
      <div class="card-row">
        <div class="card card-shadow">
          <!-- user card  -->
          <div class="card-row">
            <h2>Users in room:</h2>
            <h2>{{ userCount }}</h2>
          </div>
          <div class="card-row">
            <h3>User</h3>
            <h3>Vote</h3>
          </div>
          <div style="height: 50vh; width: 90%; overflow-y: auto">
            <div class="card-row" *ngFor="let u of users" style="width: auto">
              <span *ngIf=""></span>

              <span *ngIf="u.key === user.key">
                <h3 style="color: hsl(120, 100%, 30%)">{{ u.name }} (Me)</h3>
              </span>
              <span *ngIf="u.key != user.key">
                <p>{{ u.name }}</p>
              </span>
              <div *ngIf="u.points === 0">Not voted</div>
              <div *ngIf="u.points != 0">{{ u.points }}</div>
            </div>
          </div>
          <div class="card-row">
            <h2>Votes:</h2>
            <p>{{ voteCount }}</p>
          </div>
        </div>

        <!-- effort point card -->
        <div #votingCard class="card card-shadow effort-points">
          <h2>Cast Vote</h2>
          <p>Effort points</p>
          <div *ngFor="let number of effortPoints">
            <div>
              <button
                [class.button]="number != userSelection"
                [class.button-primary]="number === userSelection"
                [disabled]="isVoteCalled"
                (click)="castVote(number)"
              >
                <span *ngIf="number === '0'">Pass</span>
                <span *ngIf="number != '0'">{{ number }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- chart -->
    <!-- [voteData]="voteData" -->
    <!-- <div class="card card-shadow effort-points"> -->
    <!-- [effortPoints]="effortPoints" -->
    <app-chart
      [callVote]="changingValue"
      [resetVote]="resetVoteSub"
      [voteDistribution]="voteDistribution"
      [result]="result"
      [isCountingDown]="isVoteCalled"
    ></app-chart>
    <!-- </div> -->
  </div>
</div>
