<!-- vote card -->
<div
  style="display: flex; justify-content: start; margin-top: 60px; padding: 4px"
>
  <div class="card card-shadow" style="justify-content: start">
    <div class="card-row">
      <h3>Host:</h3>
      <h3>{{ room.host }}</h3>
    </div>
    <div>
      <button
        class="button"
        [class.button-primary]="amHost"
        [class.button-disabled]="!amHost"
        [disabled]="!amHost"
        (click)="callVote()"
      >
        Call vote
      </button>
      <button
        class="button"
        [class.button-primary]="amHost"
        [class.button-disabled]="!amHost"
        [disabled]="!amHost && isVoteCalled"
        (click)="resetVote()"
      >
        Open vote
      </button>
    </div>
  </div>
</div>

<div class="main">
  <div style="justify-content: center; display: flex">
    <!-- <h2>Voting in {{  }}</h2> -->
  </div>
  <!-- cards  -->
  <!-- style="display: flex; flex-direction: row; justify-content: space-around"
> -->
  <div class="card-row">
    <div
      class="card card-shadow"
      style="
        width: 200px;
        min-width: 200px;
        align-items: start;
        justify-content: start;
      "
    >
      <div class="card-row">
        <h2>Users in room:</h2>
        <h2>{{ userCount }}</h2>
      </div>
      <div class="card-row">
        <h3>User</h3>
        <h3>Vote</h3>
      </div>
      <div class="card-row" *ngFor="let user of roomUsersValueChanges$ | async">
        <p>
          {{ user.name }}
        </p>
        <p>
          {{ user.point }}
        </p>
      </div>
      <div class="card-row">
        <h2>Votes:</h2>
        <p>{{ voteCount }}</p>
      </div>
    </div>

    <!-- effort point card -->
    <div
      #votingCard
      class="card card-shadow"
      style="align-items: center; width: auto"
    >
      <h2>Cast Vote</h2>
      <p>Effort points</p>
      <div
        style="display: flexbox; flex-wrap: wrap"
        *ngFor="let number of effortPoints"
      >
        <button
          [class.button-primary]="number == userSelection"
          [disabled]="isVoteCalled"
          class="button"
          style="width: 48px; margin: 4px"
          (click)="castVote(number)"
        >
          {{ number }}
        </button>
      </div>
    </div>

    <!-- chart -->
    <div class="card card-shadow" style="width: 500px">
      <app-chart [effortPoints]="effortPoints"></app-chart>
    </div>
  </div>
</div>
