<div class="content" style="margin-top: 5%">
  <div class="card card-shadow" style="width: 25vw; justify-content: center">
    <!-- <div
        style="display: block; margin: auto; padding-right: 33%; width: 100px"
      >
        <div> -->
    <div>
      <h2>Create room</h2>
    </div>

    <div>
      <input
        type="text"
        placeholder="Enter room name"
        [(ngModel)]="room.roomName"
        name="name"
        required
      />
    </div>

    <div class="button-row">
      <button
        class="button-primary"
        [disabled]="room.roomName === ''"
        (click)="createRoom()"
      >
        Create room
      </button>
    </div>
  </div>
</div>
