<div class="content" style="margin-top: 5%">
  <div class="card" style="min-width: 200px; margin-top: 8px">
    <!-- <div
        style="display: block; margin: auto; padding-right: 33%; width: 100px"
      >
        <div> -->
    <div style="margin-top: 8px">
      <h2>Create room</h2>
    </div>

    <div style="margin-top: 8px">
      <input
        type="text"
        placeholder="Enter room name"
        [(ngModel)]="room.roomName"
        name="name"
        required
      />
    </div>

    <div style="margin-top: 8px">
      <button class="button-row button-primary" (click)="createRoom()">
        Create room
      </button>
    </div>
  </div>
</div>
