/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  --text-primary: black;
  --text-secondary: white;
  --text-host: hsl(0, 100%, 50%);
  --text-user: hsl(120, 100%, 30%);

  --background-primary: hsl(0, 0%, 98%);
  --background-shadow: hsl(0, 0%, 80%);

  --card-primary: hsl(0, 0%, 95%);
  --card-border-primary: hsl(0, 0%, 90%);

  --button: hsl(0, 0%, 85%);
  --button-disabled: hsl(0, 0%, 65%);
  --button-disabled-border: hsl(0, 0%, 45%);
  --button-primary: hsl(216, 100%, 60%);
  --button-primary-border: hsl(216, 100%, 40%);
  --button-success: hsl(146, 50%, 36%);
  --button-success-border: hsl(146, 50%, 16%);
  --button-warn: hsl(0, 100%, 50%);
  --button-warn-border: hsl(0, 100%, 20%);

  background-color: var(--background-primary);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --text-primary: hsl(0, 0%, 35%);
//     --text-secondary: hsl(0, 0%, 85%);
//     --text-host: hsl(0, 65%, 60%);
//     --text-user: hsl(120, 100%, 30%);

//     --background-primary: hsl(0, 0%, 12%);
//     --background-shadow: hsl(0, 0%, 20%);

//     --card-primary: hsl(0, 0%, 25%);
//     --card-border-primary: hsl(0, 0%, 25%);

//     --button-disabled: hsl(0, 0%, 45%);
//   }

//   .button {
//     color: var(--text-secondary);
//   }
//   .button-primary {
//     color: var(--text-primary);
//   }

//   .button-warn {
//     color: var(--text-secondary);
//   }
// }

input {
  background-color: var(--background-primary);
  border-color: var(--background-shadow);
  color: var(--text-primary);
}

label {
  color: var(--text-primary);
}

h1,
h2,
h3,
p {
  color: var(--text-primary);
}

.content {
  display: flex;
  margin: 80px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
}
.card-shadow {
  background: hsl(0, 0%, 80%);
  box-shadow: 4px 3px 8px 1px hsl(0, 0%, 59%);
  -webkit-box-shadow: 4px 3px 8px 1px hsl(0, 0%, 59%);
  width: auto;
  height: auto;
}

.card {
  border-radius: 4px;
  border: 1px solid var(--card-border-primary);
  background-color: var(--card-primary);
  height: auto;
  width: 300px;
  margin: 0 8px 16px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.name-card {
  border-radius: 4px;
  border: 1px solid var(--card-border-primary);
  background-color: var(--card-primary);
  height: auto;
  width: clamp(200px, 30vw, 300px);
  margin: 0 8px 16px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.card-row {
  // margin-left: 16px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  font-size: clamp(8px, 16px, 24px);
}

.button {
  border-radius: 4px;
  background-color: var(--button);
  border-color: var(--button-primary-border);
  color: var(--text-primary);
  margin: 1vw 1vh;
  text-align: center;
  width: 96px;
  height: 36px;
  cursor: pointer;
  &:hover {
    border-radius: 6px;
    background-color: var(--button-success);
    border-color: var(--button-success-border);
    color: var(--text-secondary);
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
  }
  &:disabled {
    border-radius: 4px;
    color: var(--text-secondary);
    background-color: var(--button-disabled);
    border-color: var(--button-warn);
    pointer-events: none;
  }
}

.button-primary {
  border-radius: 4px;
  border-width: 2px;
  border-color: var(--button-primary);
  color: var(--text-secondary);
  background-color: var(--button-primary-border);
  margin: 1vw 1vh;
  width: 96px;
  height: 36px;
  cursor: pointer;
  &:hover {
    background-color: var(--button-success);
    border-color: var(--button-success-border);
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
  }
  &:disabled {
    border-radius: 4px;
    color: var(--text-secondary);
    background-color: var(--button-disabled);
    border-color: var(--button-warn);
    pointer-events: none;
  }
}

.button-warn {
  border-radius: 4px;
  border-color: var(--button-warn);
  background-color: var(--button);
  color: var(--text-primary);
  margin: 1vw 1vh;
  text-align: center;
  width: 96px;
  height: 36px;
  cursor: pointer;
  &:hover {
    border-color: var(--button-warn);
    background-color: var(--button-warn-border);
    color: var(--text-secondary);
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
  }
}
.button-shadow {
  // background: #ccc;
  box-shadow: 2px 3px 4px 1px var(--background-shadow);
  -webkit-box-shadow: 2px 3px 4px 1px hsl(0, 0%, 59%);
  // width: auto;
  // height: auto;
}

.form-input {
  border-radius: 4px;
  border-color: var(--button-primary);
  background-color: var(--card-primary);
  color: var(--text-primary);
}

.spacer {
  flex: 1;
}

.hidden {
  display: none;
}

.menu-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--card-border-primary);
  &:last-child {
    margin: auto;
    align-items: center;
    font-weight: 700;
    border: 0;
    justify-content: center;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 2px solid var(--card-border-primary);
  width: 100%;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
  }

  .button {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
  }

  .button-primary {
    transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
  }
}
