h1 {
  font-size: 48px;
  text-align: center;
  margin: 8px 0;
  padding: 0;
}

h3 {
  margin: 2px 4px;
  min-width: 25%;
}

.result-card {
  width: 50vw;
  height: auto;
}

.vote-result {
  margin-top: 16px;
}
.heading {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvas {
  min-height: 300px;
  height: auto;
  width: 90%;
}

.result-info {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 75%;
}

.name {
  justify-content: start;
}

@media (max-width: 800px) {
  .result-card {
    width: 90vw;
    margin: auto;
    margin-bottom: 5vh;
  }
}
