<div class="card card-shadow result-card">
  <div class="heading">
    <h1>Effort point distribution</h1>

    <div *ngIf="voteCalled" class="card card-shadow vote-result">
      <h3>Voting results</h3>
      <div class="card-row" style="font-size: 48px">
        <h3>EP:</h3>
        <h3 *ngIf="modes.length === 1">{{ modes.at(0)?.ep }}</h3>
        <h3 *ngIf="modes.length > 1">Tie</h3>
      </div>
    </div>
  </div>

  <div class="canvas">
    <div *ngIf="countDownStart$.value">
      <h1>{{ counter }}</h1>
    </div>

    <div *ngIf="!countDownStart$.value">
      <canvas
        baseChart
        [legend]="barChartLegend"
        [data]="barChartData"
        [labels]="effortPoints"
        [type]="'bar'"
        [options]="barChartOptions"
      >
      </canvas>
    </div>
  </div>

  <div class="result-info">
    <h2>Voting distribution</h2>
    <div class="card-row info">
      <h3>Total votes</h3>
      <div>{{ voterCount }}</div>
    </div>
    <div class="card-row info">
      <h3>Min vote</h3>
      <div>{{ minPoint }}</div>
    </div>

    <div class="card-row info name">
      {{ minVoterLabel }}
    </div>

    <div class="card-row info">
      <h3>Mode vote</h3>
      <div *ngIf="modes.length > 1">Tie</div>

      <div *ngIf="modes.length === 1">
        <div>{{ modes.at(0)?.ep }}</div>
      </div>
    </div>

    <!-- multiple modes  -->
    <div class="card-row info name">
      <div *ngIf="modes.length > 1">Tie</div>

      <div *ngIf="modes.length === 1">
        {{ modeVoterLabel }}
      </div>
    </div>

    <div class="card-row info">
      <h3>Max vote</h3>
      <div>{{ maxPoint }}</div>
    </div>

    <div class="card-row info name">
      <div>
        {{ maxVoterLabel }}
      </div>
    </div>

    <div class="card-row info">
      <h3>Users not voted</h3>
      <div>{{ missedCount }}</div>
    </div>

    <div class="card-row info name">
      <div
        *ngFor="let v of missedUsers"
        class="card-row name"
        style="width: auto"
      >
        <div>{{ v.name }}, &nbsp;</div>
      </div>
    </div>
  </div>
</div>
