h2,
h3 {
  margin: 0;
}

.room-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.room-card-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2px;
}
