<div class="content">
  <div class="card card-shadow" style="width: 25vw; justify-content: center">
    <h2>Name</h2>
    <div style="width: 50%">
      <input
        type="text"
        placeholder="Enter your name"
        [(ngModel)]="user.name"
        name="name"
        required
      />
    </div>
    <div class="button-row">
      <div>
        <button class="button" [disabled]="user.name === ''" (click)="join()">
          Join
        </button>
      </div>
      <div>
        <button
          class="button-primary"
          [disabled]="user.name === ''"
          (click)="host()"
        >
          Host
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="joinRoom">
  <app-rooms [user]="user"></app-rooms>
</div>

<div *ngIf="hostRoom">
  <app-host [user]="user"></app-host>
</div> -->
