<div class="content">
  <div class="name-card card-shadow">
    <h2>Name</h2>
    <div>
      <input
        style="display: flex; justify-content: center"
        type="text"
        placeholder="Enter your name"
        [(ngModel)]="user.name"
        name="name"
        required
      />
    </div>
    <div class="button-row">
      <div>
        <button
          class="button button-shadow"
          [disabled]="user.name === ''"
          (click)="join()"
        >
          Join
        </button>
      </div>
      <div>
        <button
          class="button-primary button-shadow"
          [disabled]="user.name === ''"
          (click)="host()"
        >
          Host
        </button>
      </div>
    </div>
  </div>
</div>
